.calendar-icon {
  width: 41px;
  height: 41px;
}

.clock-icon {
  width: 42px;
  height: 42px;
}

.info-icon {
  width: 14px;
  height: 14px;
  margin-left: 5px;
}

.calendar-icon,
.clock-icon,
.info-icon {
  fill: var(--primary-green);
}

.calendar-icon,
.clock-icon {
  margin-right: 15px;
}

.form-container,
.overview-container,
.kansha-container {
  width: 431px;
  margin-left: auto;
  margin-right: auto;
}

.date-field,
.clock-field,
.diners-field,
.occasion-field,
.area-field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.date-field > input,
.clock-field > select,
.diners-field > select,
.occasion-field > select,
.area-field > select {
  margin-left: auto;
}

.date-field > .messages,
.clock-field > .messages,
.diners-field > .messages,
.occasion-field > .messages,
.area-field > .messages {
  flex-basis: 100%;
  text-align: right;
  padding-right: 1em;
  color: red;
}

.area-field + .more-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.area-field + .more-info label {
  font-size: 12px;
}

.form-container fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form-container fieldset > legend {
  padding: 0;
  margin: 0;
}

.form-container fieldset > .text-fields {
  display: flex;
  flex-direction: column;
}

.form-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 49px !important;
}

.form-navigation > .page {
  display: flex;
  margin-bottom: 10px;
  width: 38px;
  height: 15px;
  justify-content: space-between;
}

.form-navigation > .page::before {
  content: "";
  border: 2px solid var(--primary-green);
  border-radius: 50%;
  width: 13px;
  height: 13px;
}

.form-navigation > .page::after {
  content: "";
  border: 2px solid var(--primary-green);
  border-radius: 50%;
  width: 13px;
  height: 13px;
}

.form-navigation > .page.one::before {
  background-color: var(--primary-green);
}

.form-navigation > .page.two::after {
  background-color: var(--primary-green);
}

.kansha-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 500px;
}

.form-container > :not(first-child),
.form-container fieldset > * {
  margin-top: 8px;
}

.form-container fieldset {
  margin-top: 40px;
}

.form-container fieldset > .text-fields > .messages {
  color: red;
  margin: 0.2em 0.3em;
}

.form-container fieldset > .text-fields > label:not(:first-child, .messages) {
  margin-top: 31px;
}

.form-container fieldset > .text-fields > input,
.form-container fieldset > .text-fields > textarea {
  margin-top: 11px;
}

.form-container .invalid-input {
  border-color: red;
  color: red;
}

.more-info > .tooltip {
  background-color: var(--primary-green);
  border-radius: 8px;
  color: white;
  padding: 1em;
  position: fixed;
}

@media (max-width: 447px) {
  .form-container,
  .overview-container,
  .kansha-container {
    width: 100%;
  }
}
