.hero-background {
  background-color: var(--primary-green);
}

.hero > header {
  grid-area: header;
}

.hero > header h1,
.hero > header h2 {
  margin: 0;
}

.hero > p {
  grid-area: description;
  max-width: 247px;
}

.hero > button {
  grid-area: reserve-button;
}

.hero > img {
  grid-area: image;
  max-width: 338px;
  max-height: 398px;
  object-fit: cover;
  border-radius: 8px;
  justify-self: end;
}

.hero > header,
.hero > button,
.hero > p {
  justify-self: start;
}

.hero {
  display: grid;
  grid-template-areas:
    "header image"
    "description image"
    "reserve-button image"
    ". image";
}

@media (max-width: 570px) {
  .hero > img {
    width: 31vw;
    height: 28vh;
  }
}
