.testimonials-background {
  background-color: var(--secondary-grey);
  padding: 169px 0;
}

.testimonials > header {
  text-align: center;
  margin-bottom: 50px;
}

.testimonials > .comments {
  display: flex;
  justify-content: space-between;
  gap: 19px;
}

.comment-card > .rating {
  grid-area: comment-rating;
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
}

.comment-card .star-icon {
  width: 24px;
  height: 24px;
}

.comment-card .star-icon:not(:last-child) {
  margin-right: 8px;
}

.comment-card > .picture {
  grid-area: comment-picture;
  align-self: center;
  width: 43px;
  height: 43px;
  object-fit: cover;
  border-radius: 50px;
}

.comment-card > .name {
  grid-area: comment-name;
  align-self: end;
  margin: 0 0 0 9px;
}

.comment-card > .nickname {
  grid-area: comment-nickname;
  align-self: start;
  margin: 0 0 0 9px;
  color: #d9d9d9;
}

.comment-card > .comment {
  grid-area: comment-comment;
}

.comment-card {
  display: grid;
  grid-template:
    "comment-rating comment-rating" min-content
    "comment-picture comment-name"
    "comment-picture comment-nickname"
    "comment-comment comment-comment"
    / min-content auto;
  width: 206px;
  height: 219px;
  background-color: white;
  border-radius: 8px;
  padding: 18px 18px 0 18px;
}

@media (max-width: 771px) {
  .testimonials > .comments {
    flex-direction: column;
    align-items: center;
  }

  .testimonials-background {
    padding: 60px 0;
  }
}
