html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --global-margin: 0 auto;
  --global-padding: 0;
  --primary-green: #495e57;
  --primary-yellow: #f4ce14;
  --secondary-grey: #edefee;
  --secondary-back: #333;
  --secondary-color-one: #ee9972;
  --secondary-color-two: #fbdabb;
}

.outer-layout > * {
  width: var(--global-width);
  margin: var(--global-margin);
  padding: var(--global-padding);
}

@media (min-width: 905px) {
  :root {
    --global-width: 900px;
  }
}

@media (max-width: 905px) {
  :root {
    --global-padding: 0 24px;
  }
}
